@import url('https://fonts.googleapis.com/css?family=Oxygen');

body{
  background-color: #F0B1A9;
  font-family: 'Oxygen', sans-serif;

}
#container1{
  color: #4C4C4C;
  width: 60%;
  margin: auto;
  text-align: center;
}
#bheader{
  color: #4C4C4C;
  width: 60%;
  margin: auto;
  text-align: center;
}
#container2{
  color: #4C4C4C;
  width: 60%;
  margin: auto;
  text-align: center;
}
